<!DOCTYPE HTML>
<html>
<% include head %>

<body id="body" onmousedown="return false;">

  <% include top %>

  <div id="wrapper" class="container"> 
		<h1 style="margin-top: 50px;text-align: center;"><%= groupname %>/<%= roulettename %></h1>
    <div id="rouletteContainer">
      <div id="timer" class="timer">
       timer 
      </div>
      <div id="logging-users" class="logging-users">
        <!--
        <li id="pegl" class="logging-user">pegl</li>
        <li id="3bsi" class="logging-user">3bsi</li>
        -->
      </div>
      <!-- 描画用フィールド -->
      <svg id="rouletteArea" 
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
    </svg>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">シェア</button>
      </div>
      <div class="btn-group" role="group">
        <a href="javascript:addmp()" class="btn btn-default btn-lg text-center">MP</a>
      </div>
      <div class="btn-group" role="group">
        <a href="javascript:alert('実装中です')" class="btn btn-default btn-lg text-center">編集</a>
      </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ルーレットをシェア</h4>
          </div>
          <div class="modal-body">
            <p class="text-center"> <%- QRURL %> </p>

            <img class="img-responsive" style="margin: 0 auto;" src="http://www.it-top.biz/qr/qrapi/?d=<%- QRURL %>&s=8&q=4">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- fundamental -->
  <script charset="UTF-8" type="text/javascript" src="/js/lib/jquery-2.1.1.min.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/components/underscore/underscore.js"></script>

<!-- 自作数値計算ライブラリ -->
  <script charset="UTF-8" type="text/javascript" src="/js/common/vector.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/common/angle.js"></script>

<!-- SVG -->
  <script charset="UTF-8" type="text/javascript" src="/js/lib/Snap.svg-0.3.0/dist/snap.svg.udonka.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/lib/snap.svg.pie.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/lib/snap.svg.arrow.js"></script>


<!-- roulette View -->
  <script charset="UTF-8" type="text/javascript" src="/js/common/labelstopper.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/roulette.js"></script>

<script>
<% if(labels){ %>
  var roulette_id = "<%= roulette_id %>";
  var labels = <%- JSON.stringify(labels) %>;
<% } %>

  var labelStoppers = generateLabelStoppersLing(labels);

	var container = $("#rouletteContainer");
	var width = container.width();
	var height = $("html").height() - 200;
	var length = Math.min(width,height);
	var snap = Snap("#rouletteArea");

	snap.dom = document.getElementById("rouletteArea");
	snap.attr({"style": "width:"+length+"px; height:"+length+"px;"});


	var roulette = new Roulette(snap,length,labelStoppers);
</script>

<!--　通信用 -->
  <script charset="UTF-8" type="text/javascript" src="/js/lib/socket.io.js"></script>
  
<!-- 入力系 -->
  <script charset="UTF-8" type="text/javascript" src="/js/lib/hand.minified-1.2.1.js"></script>

<!-- ルーレット用-->
  <script charset="UTF-8" type="text/javascript" src="/js/common/wind.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/common/wheel.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/js/finger.js"></script>


<script charset="UTF-8" type="text/javascript" src="/js/main.js"> </script>

<script charset="UTF-8" type="text/javascript" src="/js/lib/lazyload.js"> </script>

<!--bootstrap-->
  <script charset="UTF-8" type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>


<script type="text/javascript">
$(function(){
    $("img.lazy").lazyload();
});

$("#QRcontainer").html(
    '<img class="img-responsive" style="margin: 0 auto;" src="http://www.it-top.biz/qr/qrapi/?d=<%- QRURL %>&s=8&q=4">'
);
</script>




</body>
</html>


